<template>
  <div class="captors">
  <div id='content'>
    <h1>{{ msg }}</h1>
    <img src='https://i.twic.pics/v1/https://s3-eu-west-1.amazonaws.com/assets.atout-on-line.com/images/ingenieur/2013/fiches_ecoles/ensg-logo-282.jpg'>
  </div>
  <p>Vous trouverez ici les données de 4 différentes sondes ayant un capteur de température, un d'humidité et un de pression </p>
</div>
</template>
<script>

export default {
  name: 'captors',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#content img {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 125px;
    width: 125px;
}
</style>
