<template>
    <div>
    <form class="form1" method="get">
        <h2>Historique</h2>
        <div id="startAndStop">
          <label for="start1">Start date:</label>
          <input type="date" id="start1" name="start1" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" v-model="date_debut">
          <label for="stop1">Stop date:</label>
          <input type="date" id="stop1" name="stop1" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" v-model="date_fin">
        </div>
        <div>
          <input type="checkbox" name="capteurs1" value="tem" v-model="checked" >
          <label for="tem">Temperature</label>
          <input type="checkbox" name="capteurs1" value="pre" v-model="checked" >
          <label for="pre">Pression</label>
          <input type="checkbox" name="capteurs1" value="lum" v-model="checked" >
          <label for="lum">Luminosité</label>
          <input type="checkbox" name="capteurs1" value="hum" v-model="checked">
          <label for="hum">Humidité</label>
          <input type="checkbox" name="capteurs1" value="win" v-model="checked">
          <label for="win">Vent</label>
          <input type="checkbox" name="capteurs1" value="ran" v-model="checked">
          <label for="ran">Pluie</label>
          <br>
        </div>
        <div>
          <input type="radio" id="piensg024" name="typeRas1" value="piensg024" v-model="picked" checked>
          <label for="live">piensg024</label>
          <input type="radio" id="piensg010" name="typeRas1" value="piensg010" v-model="picked">
          <label for="archive">piensg010</label>
          <input type="radio" id="piensg011" name="typeRas1" value="piensg011" v-model="picked">
          <label for="live">piensg011</label>
          <input type="radio" id="piensg007" name="typeRas1" value="piensg007" v-model="picked">
          <label for="archive">piensg007</label>
        </div>
        <button type="button" name="button" id="loadData" v-on:click="chargeData">Charger données</button>
    </form>
    <table align="center">
      <thead>
        <tr>
          <th>{{ title }}</th>
        </tr>
      </thead>
      <tbody>
      <td v-for="row in rows" :key="row.title">
        <tr>
          <td>{{ row.title }}</td>
          <td>Date</td>
        </tr>
        <tr v-for="d in row.data" :key="d.id">
          <td>{{ d.resu }}</td>
          <td>{{ d.date }}</td>
        </tr>
      </td>
      </tbody>
    </table>
    <form class="form" method="get">
        <h2>Comparatif</h2>
        <div id="startAndStop">
          <label for="start">Start date:</label>
          <input type="date" id="start" name="start" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" v-model="date_d">
          <label for="stop">Stop date:</label>
          <input type="date" id="stop" name="stop" value="2020-02-23" min="2020-02-21" max="2030-12-31" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" v-model="date_f">
        </div>
        <div>
          <input type="radio" name="capteurs" value="tem" v-model="check" >
          <label for="tem">Temperature</label>
          <input type="radio" name="capteurs" value="pre" v-model="check" >
          <label for="pre">Pression</label>
          <input type="radio" name="capteurs" value="lum" v-model="check" >
          <label for="lum">Luminosité</label>
          <input type="radio" name="capteurs" value="hum" v-model="check">
          <label for="hum">Humidité</label>
          <input type="radio" name="capteurs" value="win" v-model="check">
          <label for="win">Vent</label>
          <br>
        </div>
        <div>
          <input type="checkbox" id="piensg024" name="typeRas" value="piensg024" v-model="pick" checked>
          <label for="live">piensg024</label>
          <input type="checkbox" id="piensg010" name="typeRas" value="piensg010" v-model="pick">
          <label for="archive">piensg010</label>
          <input type="checkbox" id="piensg011" name="typeRas" value="piensg011" v-model="pick">
          <label for="live">piensg011</label>
          <input type="checkbox" id="piensg007" name="typeRas" value="piensg007" v-model="pick">
          <label for="archive">piensg007</label>
        </div>
        <button type="button" name="button" id="loadData" v-on:click="chargeGraph">Charger le graphique</button>
    </form>
    <div class="small">
      <line-chart :chart-data="datacollection"></line-chart>
    </div>
    </div>
</template>
<script>
import axios from 'axios'
import LineChart from './LineChart.js'

export default {
  name: 'formulaire',
  components: {
    LineChart
  },
  props: {
    msg: String
  },
  data () {
    return {
      checked: [],
      picked: '',
      check: '',
      pick: [],
      date_debut: '',
      date_fin: '',
      date_d: '',
      date_f: '',
      rows: [],
      title: '',
      datacollection: {},
      datacoll: {},
      serie: []
    }
  },
  mounted () {
    this.chargeGraph()
  },
  methods: {
    chargeData () {
      let capteurs = ''
      this.rows = []
      for (let i = 0; i < this.checked.length; i++) {
        capteurs += this.checked[i] + ','
      }
      capteurs = capteurs.substr(0, capteurs.length - 1)
      const src = 'http://' + this.picked + '.ensg.eu/Archive?start=' + this.date_debut.substr(0, 10) + '&stop=' + this.date_fin.substr(0, 10) + '&capteurs=' + capteurs
      axios.get(src).then(response => {
        if (response.status === 200) {
          this.title = response.data.result.metadata.nom
          this.content = ''
          for (let i = 0; i < this.checked.length; i++) {
            const key = Object.keys(response.data.result.measurements)[i]
            const datar = []
            for (let j = 0; j < response.data.result.measurements[key].data.length; j++) {
              datar.push({
                id: j,
                resu: response.data.result.measurements[key].data[j][1] + ' ' + response.data.result.measurements[key].units[1],
                date: response.data.result.measurements[key].data[j][0]
              })
            }
            this.rows.push({
              title: key,
              data: datar
            })
          }
        }
      })
    },
    chargeGraph () {
      this.serie = []
      for (let j = 0; j < this.pick.length; j++) {
        const list = []
        const src = 'http://' + this.pick[j] + '.ensg.eu/Archive?start=' + this.date_d.substr(0, 10) + '&stop=' + this.date_f.substr(0, 10) + '&capteurs=' + this.check
        axios.get(src).then(response => {
          if (response.status === 200) {
            const k = Object.keys(response.data.result.measurements)[0]
            for (let l = 0; l < response.data.result.measurements[k].data.length; l++) {
              list.push({
                x: new Date(response.data.result.measurements[k].data[l][0]),
                y: parseFloat(response.data.result.measurements[k].data[l][1])
              })
            }
            this.serie.push({
              label: this.pick[j],
              borderColor: '#' + (0x1000000 + (Math.random()) * 0xffffff).toString(16).substr(1, 6),
              data: list
            })
            this.datacollection = {
              datasets: this.serie
            }
          }
        })
      }
    }
  }
}
</script>
<style scoped>
h3 {
  margin: 40px 0 0;
}
h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#map {
  height: 600px;
}
div {
}
table,
table {
    margin-top: 2%;
    border: 1px solid;
    text-align: center;
}
td {
      border: 1px solid;
}
.form {
  text-align: center;

}
.form1 {
  text-align: center;

}
.small {
  max-width: 600px;
  margin:  150px auto;
}

</style>
