<template>

  <div id="app">
    <captors msg="Dashboard Station Meteo" />
    <h2>Sondes en temps réelles</h2>
    <div style="height: 90vh; width: 90vw;">
    <l-map ref="map" style="height: 600px; width: 100vw;" :zoom="zoom" :center="center">
    <l-tile-layer :url="url"></l-tile-layer>
    <l-marker v-for="marker in markers" :key="marker.id" :lat-lng="marker.position" @l-add="$event.target.openPopup()">
    <l-popup :content="
      '<h5><strong>' + marker.nom + '</strong></h5>' +
      '<p>Date : '+ marker.date + '°C</p>' +
      '<p>Température : '+ marker.temperature + '°C</p>' +
      '<p>Pression : '+ marker.pressure + 'hP</p>' +
      '<p>Humidité : '+ marker.humidity + '%</p>'+
      '<p>Luminosité : '+ marker.luminosity + 'Lux</p>'
    "/>

    </l-marker>
    </l-map>
    <input type='button' v-on:click="zoomMap" value='Sonde 07' id='Piensg 007' :disabled='pi07b'>
    <input type='button' v-on:click="zoomMap" value='Sonde 11' id='Piensg 011' :disabled='pi11b'>
    <input type='button' v-on:click="zoomMap" value='Sonde 10' id='Piensg 010' :disabled='pi10b'>
    <input type='button' v-on:click="zoomMap" value='Sonde 24' id='Piensg 024' :disabled='pi24b'>
    </div>
    <formulaire msg="Formulaire" />

 </div>
</template>

<script>
import captors from './components/captors.vue'
import { LMap, LTileLayer, LMarker, LPopup } from 'vue2-leaflet'
import axios from 'axios'
import L from 'leaflet'
import formulaire from './components/form.vue'

export default {
  name: 'App',
  components: {
    captors,
    LMap,
    formulaire,
    LMarker,
    LTileLayer,
    LPopup
  },
  data () {
    return {
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 12,
      center: [48.11, 11.5],
      bounds: null,
      markers: [],
      pi11b: true,
      pi07b: true,
      pi24b: true,
      pi10b: true
    }
  },
  created () {
    axios.get('http://piensg007.ensg.eu/live?capteurs=all').then(response => {
      if (response.status === 200) {
        this.pi07b = false
        this.markers.push({
          id: 1,
          position: L.latLng(response.data.result.coordinate.latitude, response.data.result.coordinate.longitude),
          temperature: response.data.result.measurements.temperature.data[0][1],
          pressure: response.data.result.measurements.pressure.data[0][1],
          humidity: response.data.result.measurements.humidity.data[0][1],
          luminosity: response.data.result.measurements.luminosity.data[0][1],
          nom: response.data.result.metadata.nom,
          date: response.data.result.coordinate.date
        })
      }
    })
    axios.get('http://piensg024.ensg.eu/live?capteurs=all').then(response => {
      if (response.status === 200) {
        this.pi24b = false
        this.markers.push({
          id: 2,
          position: L.latLng(response.data.result.coordinate.latitude, response.data.result.coordinate.longitude),
          temperature: response.data.result.measurements.temperature.data[0][1],
          pressure: response.data.result.measurements.pressure.data[0][1],
          humidity: response.data.result.measurements.humidity.data[0][1],
          luminosity: response.data.result.measurements.luminosity.data[0][1],
          nom: response.data.result.metadata.nom,
          date: response.data.result.coordinate.date
        })
      }
    })
    axios.get('http://piensg010.ensg.eu/live?capteurs=all').then(response => {
      if (response.status === 200) {
        this.pi10b = false
        this.markers.push({
          id: 3,
          position: L.latLng(response.data.result.coordinate.latitude, response.data.result.coordinate.longitude),
          temperature: response.data.result.measurements.temperature.data[0][1],
          pressure: response.data.result.measurements.pressure.data[0][1],
          humidity: response.data.result.measurements.humidity.data[0][1],
          luminosity: response.data.result.measurements.luminosity.data[0][1],
          nom: response.data.result.metadata.nom,
          date: response.data.result.coordinate.date
        })
      }
    })
    axios.get('http://piensg011.ensg.eu/live?capteurs=all').then(response => {
      if (response.status === 200) {
        this.pi11b = false
        this.markers.push({
          id: 4,
          position: L.latLng(response.data.result.coordinate.latitude, response.data.result.coordinate.longitude),
          temperature: response.data.result.measurements.temperature.data[0][1],
          pressure: response.data.result.measurements.pressure.data[0][1],
          humidity: response.data.result.measurements.humidity.data[0][1],
          luminosity: response.data.result.measurements.luminosity.data[0][1],
          nom: response.data.result.metadata.nom,
          date: response.data.result.coordinate.date
        })
      }
    })
  },

  methods: {
    addMarker (event) {
      this.markers.push(event.latlng)
    },
    zoomMap (event) {
      this.zoom = 18
      for (let i = 0; i < this.markers.length; i++) {
        if (event.target.id === this.markers[i].nom) {
          this.center = [this.markers[i].position.lat, this.markers[i].position.lng]
        }
      }
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h2 {
  background: #969696;
}

</style>
